@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika:wght@300;400;500;600;700&display=swap');
$negro:#33333c;
$amarillo:#fbb71c;
$blanco:#fff;
$plomo:#e5e5e5;
$cTexto:#fac402;
$roboto:'Roboto', sans-serif;
$signika:'Signika', sans-serif;
$yellow: 'yellow';

::selection {
    background: $amarillo;
    color: $negro;
  }
  
  ::-webkit-scrollbar {
      width: 9px;     /* Tamaño del scroll en vertical */
      height: 8px;    /* Tamaño del scroll en horizontal */
  }
  ::-webkit-scrollbar-thumb {
      background: $negro;
      border-radius: 6px;
  }
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  ::-webkit-scrollbar-thumb:hover {
      background: $amarillo;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  ::-webkit-scrollbar-thumb:active {
      background-color: $amarillo;
  }

body{
    background-color: $blanco;
    color: $negro;    
}

.activo{    
    &:before{
        content: "";        
        width: 72% !important;        
        background-color:$cTexto !important;          
    }
}

@font-face {
    font-family: 'yellow';
    src: url(../../static/font/YELLOW.TTF);
    font-weight: regular;
  }



/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}


.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-main-bg);
}

.content {
	position: fixed;
	z-index: 123;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	pointer-events: none;
}

.info {
	margin: 0 0 0 1.25em;
	font-style: italic;
	color: var(--color-info);
	font-weight: bold;
}


.demos {
	position: relative;
	display: block;
	align-self: end;
	text-align: center;
	grid-area: demos;
	margin-bottom: 0.5em;
}

.demo {
	margin: 0 0.15em;
}

.demo:hover,
.demo:focus {
	opacity: 0.5;
}

.demo span {
	white-space: nowrap;
	text-transform: lowercase;
	pointer-events: none;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	pointer-events: none;
}


.global-menu {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 100;
}

.demo-5 .global-menu {
	text-align: center;
}

.demo-3 {
	--color-text: #fbd54a;
	--color-bg: #333;
	--color-link: #4d4f5f;
	--color-link-hover: #bfb5b5;
	--color-info: #fff;
	--color-main-bg: #24262d;
	--path-fill-1: #000000;
	--path-fill-2: #1d1d1f;
	--path-fill-3: #fbd54a;
	--color-title: #fff;
	--font-family-title: 'Arapey', serif;
	--font-size-title: 5vmax;
	--font-weight-title: 400;
	--color-menu: #000000;
	--color-menu-hover: #fff;	
	--button-bg: #fff;
	--button-circle: #ada4a4;
	--button-line: #222;
}


.global-menu__item {
	color:#fff;
	font-family:'helvitaBold';
	font-size: 3vmax;
	text-transform: uppercase;
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}

.global-menu__item--demo-2:nth-child(odd) {
	transform: translateY(-100%) rotate(10deg);
}

.global-menu__item--demo-2:nth-child(even) {
	transform: translateY(-100%) rotate(-10deg);
}

.global-menu__item--demo-3 {
	transition: transform 0.1s, opacity 0.1s;
	transform: translateY(100%);
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4,
.global-menu__item--demo-5 {
	transition: transform 0.1s, opacity 0.1s;
	transition-timing-function: ease-out;
}

.global-menu__item--demo-4 {
	transform: translateX(40%);
}

.global-menu__item--demo-5:nth-child(odd) {
	transform: translateX(100%) rotate(10deg) scale(0.5);
}

.global-menu__item--demo-5:nth-child(even) {
	transform: translateX(100%) rotate(-10deg) scale(0.5);
}

.global-menu__item--demo-6 {
	transform: translateY(100%);
}

.global-menu__item:hover {
	color: #fff;
}

.global-menu__item.is-opened {
	opacity: 1;
	transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;
}

.global-menu__item--demo-4.is-opened,
.global-menu__item--demo-5.is-opened {
	transform: translateX(0) rotate(0);
}

.global-menu__item--demo-4.is-opened {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.355, 1.400);
}

.global-menu__item:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}

.global-menu__item:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}

.global-menu__item:nth-of-type(5) {
	transition-delay: 0.17s;
}

.global-menu__item.is-opened:nth-of-type(5) {
	transition-delay: 0.8s;
}

.global-menu__item:nth-of-type(6) {
	transition-delay: 0.19s;
}

.global-menu__item.is-opened:nth-of-type(6) {
	transition-delay: 0.85s;
}
.global-menu__item:nth-of-type(7) {
	transition-delay: 0.21s;
}

.global-menu__item.is-opened:nth-of-type(7) {
	transition-delay: 0.9s;
}


/* demo 2 */
.global-menu__item--demo-2:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(1) {
	transition-delay: 0.85s;
}

.global-menu__item--demo-2:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(2) {
	transition-delay: 0.8s;
}

.global-menu__item--demo-2:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item--demo-2:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-2.is-opened:nth-of-type(4) {
	transition-delay: 0.7s;
}

/* demo 3 */
.global-menu__item--demo-3.is-opened {
	transition-duration: 0.3s;
}

.global-menu__item--demo-3:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
	transition-delay: 0.65s;
}

.global-menu__item--demo-3:nth-of-type(2) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
	transition-delay: 0.7s;
}

.global-menu__item--demo-3:nth-of-type(3) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
	transition-delay: 0.75s;
}

.global-menu__item--demo-3:nth-of-type(4) {
	transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
	transition-delay: 0.8s;
}

/* demo 4 */
.global-menu__item--demo-4.is-opened {
	transition-duration: 0.6s;
}

.global-menu__item--demo-4:nth-of-type(1) {
	transition-delay: 0s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(1) {
	transition-delay: 0.45s;
}

.global-menu__item--demo-4:nth-of-type(2) {
	transition-delay: 0.05s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(2) {
	transition-delay: 0.5s;
}

.global-menu__item--demo-4:nth-of-type(3) {
	transition-delay: 0.1s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(3) {
	transition-delay: 0.55s;
}

.global-menu__item--demo-4:nth-of-type(4) {
	transition-delay: 0.15s;
}

.global-menu__item--demo-4.is-opened:nth-of-type(4) {
	transition-delay: 0.6s;
}




.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill:$negro;
}

.shape-overlays__path:nth-of-type(2) {
	fill: $amarillo;
}

.shape-overlays__path:nth-of-type(3) {
	fill:$negro;
}

.shape-overlays__path:nth-of-type(4) {
	fill:$amarillo;
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

.hamburger {
	width: 64px;
	height: 64px;
	display: block;
	cursor: pointer;
	position: fixed;
	top: 2.25em;
	right: 2.25em;
	z-index: 110;
	border-radius: 50%;
	background-color:$negro;
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hamburger::after {
	width: 64px;
	height: 64px;
	box-sizing: border-box;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	border: 4px solid  #ada4a4;
	border-radius: 50%;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-name: intervalHamburgerBorder;
	animation-name: intervalHamburgerBorder;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}



.hamburger__line {
	width: 28px;
	height: 2px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.hamburger__line-in {
	width: 84px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
}

.barra-hamburger{
    background: $negro;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 12;
    padding: 7px 13px;
    img{
        width: 82px;
    }
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	width: 28px;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color:#fff;
}

.hamburger__line-in::before {
	left: -56px;
}

.hamburger__line-in::after {
	left: 0;
}

.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	left: 18px;
}

.hamburger__line--01 {
	top: 24.6px;
}

.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	top: 31px;
}

.hamburger__line--03 {
	top: 37.4px;
}

.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger__line-in::before,
.hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}


@media screen and (min-width: 55em) {
	.icon--keyboard {
		position: absolute;
		right: 0.55em;
		bottom: -30%;
		display: block;
		width: 54px;
		height: 46px;
		fill: var(--color-link);
	}
	.demos {
		display: flex;
		padding-right: 80px;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		position: absolute;
		line-height: 1;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	.hamburger {
		position: fixed;
		top: 0.5em;
		right: 0.5em;
		transform: scale(0.75);
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
		flex-direction: column;
	}
	.content--fixed {
		position: relative;
		z-index: 0;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.codrops-links {
		margin: 0;
	}
}


.session{
    height: 100vh;
    width: 100%;

}

.banner{
    background-image: url(../../static/img/banner.svg);
    background-size: cover;
    height: auto;    
    margin-top: 80px;
    padding: 30px 0px;
    position: relative;
    &__content{                        
        text-align: center;  
        display: flex;
        justify-content: center;        
        align-items: center;
        height: auto;
        position: relative;
        &__center{
            position: relative;
           /* bottom: 0;        
            margin: auto;
            right: 0;
            width: 95%;
            height: 80vh;
            left: 0;
            top:0;*/      
            &__descrip{                
                padding: 30px 37px;          
                border-radius: 8px;                        
                background-color:rgba(26, 28, 38 ,0.80);           
                position: relative;
                &:before{
                    content: "";                
                    height: 7px;
                    position: absolute;
                    background-image: url(../../static/img/raya-amarilla.svg);                
                    background-size: contain;
                    background-repeat: no-repeat;
                    bottom: -5px;
                    width: 100%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-repeat: no-repeat;
                }
                .texto{
                    text-align: center;                
                    &__logo{
                        position: relative;
                        img{
                            position: relative;                           
                            width: 142px;
                            left: 0;
                            top: 0;
                            margin-bottom: 20px;
                        
                        }
                    }
                    h2{
                        font-family: $yellow;
                        color: $blanco;
                        font-size: 25px;
                        text-align: center;
                        margin-left: 0px;
                        line-height: 32px;
                        margin-bottom: 0px;
                        span{
                            color: $cTexto;
                            font-size: 28px;
                            
                        }
                    }   
                    &__login{
                        margin-bottom: 10px;
                        a{
                            color: $blanco;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-family: $roboto;
                            font-weight: 500;
                            font-size: 16px;
                            padding: 0px 15px;
                            &:nth-of-type(2){
                                color: $cTexto;
                            }
                        }
                    }
                    p{
                        color: $blanco;                        
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
            &__face{
                background-color:#3b5998;
                color: $blanco;
                display: inline-block;
                text-decoration: none;
                border-radius: 50px;
                font-size: 17px;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                padding: 10px 30px;
                img{
                    width: 10px;
                    margin-left: 14px;
                }
            }
        }
    }
}

.header{
    height: 90px;    
    display: none;
    padding: 5px 14px;
    top:0;    
    background-color: $blanco;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 3px 4px rgba(154,154,154,0.08);
    justify-content: center;
    .buscador{
        width: 90%;
        margin: auto;
        margin-top: 18px; 
    }
    .input-group{
        input{
            height: 40px;
            font-size: 15px;
            border: 1px solid transparent;
            border-bottom: 1px solid #d7dede;
            padding: 0px 11px;
            color: #a8b2b2;
            font-size: 13px;
            &::placeholder{
                color: #a8b2b2;
            }
            &:active,
            &:focus{
                border: 1px solid transparent;
                box-shadow: 1px 1px 1px transparent;
                border-bottom: 1px solid #b0b2b3;
            }
        }
        &-text{
            background-color: $blanco;
            border: 1px solid transparent;
            border-bottom: 1px solid #d7dede;
            img{
                width: 20px;
            }
        }
    }
    &__left{
        position: relative;
        &__logo{
            img{
                width: 90px;
                display: inline-block;
            }
        }
        &__link{
            position: absolute;
            top:0;
            left: 70px;
            bottom: 0;
            height: 20px;
            margin: auto;
            ul{
                li{
                    a{
                        color: $negro;
                        text-transform: uppercase;
                        font-family: $roboto;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 13px;
                        padding: 0px 15px;
                        &.login{
                            color: $amarillo;
                        }
                    }
                }
            }
        }
    }
    &__right{
        text-align: right;        
        &__link{
            display: inline-block;
            a{
                color: $negro;
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: 600;
                text-decoration: none;
                font-size: 13px;
                padding: 0px 13px;
                position: relative;
                display: inline-block;            
                &:before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background-color:transparent;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    right: 0;
                    transition: all 0.7s;
                }
                &:hover:before{
                    background-color: $amarillo;
                    width: 72%;
                }
                &:hover{
                    font-weight: 900;
                }
            }   
        }   
        .web{
            display: inline-block;
            margin-left: 16px;
            img{
                width: 26px;
            }
        }  
    }
    
    ul{
        list-style: none;
        li{
            display: inline-block;
        }
    }
} 

.titulo{
    font-family: $yellow;
    color: $negro;    
    span{
        color:$amarillo;
    }
    &--grande{
        font-size: 64px;
        line-height: 65px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    &--mediano{        
        font-size:35px;        
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
   
}

.parrafo{
    font-weight: 500;
    font-size: 16px;
    font-family: $roboto;    
    margin: 10px 0px 40px;
} 

.btn{
    display: inline-block;
    padding:3px 35px 7px;
    border-radius:30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;    
    &--color{
        color: $negro;
        background-color: $amarillo;    
        padding: 3px 50px 7px;    
        &:hover{
            color:$blanco;
            background-color: $negro;
        }
    }
    &--negro{
        background-color: $negro;
        color:$blanco;
        &:hover{
            background-color: $amarillo;
            color: $negro;
        }
    }
}

.rayaP{
    position: relative;
    &:before{
        top:0;
    }
    &:before{
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        background-image: url('../../static/img/iconos/raya-horizontal.svg');
        background-size: cover;
        top:-8px;
    }
}

.modal{
    &__login{
        &__content{
            position: relative;            
            &::before{
                left: -4px;   
            }
            &::after{
                right: -4px;
            }
            &::before,
            &::after{
                position: absolute;
                content: "";
                width:9px;
                height: 100%;
                background-image: url(../../static/img/iconos/raya-veticalN.svg);
                background-size: contain;                                          
            }
        }
        &__body{            
            position: relative;
            padding: 30px 20px;            
            &::before{
                top: -4px;   
            }
            &::after{
                bottom: -4px;
            }
            &::before,
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 7px;
                background-image: url(../../static/img/iconos/raya-negro.svg);
                background-size: cover;            
                left: 0;
            }
            .close{
                position: absolute;   
                top: -19px;
                right: -19px;
                opacity: 1;
                z-index: 1;
                background-color: $amarillo;
                color: $negro;
                width: 50px;
                height: 50px;
                font-size: 0;
                border-radius: 50%;
                img{
                    width: 15px;
                }
            }
            h3{
                font-size: 23px;
                margin-bottom: 20px;
            }
            form{
                width: 63%;                
                margin: auto;  
                .form-group{
                    margin-bottom: 11px;
                }              
                input,
                select{
                    height: 38px;
                    border-radius: 8px;
                    border:1px solid #999999;
                    font-size: 12px;
                    &:active{
                        border:1px solid $amarillo;
                    }
                    &:focus{
                        box-shadow: 0 0 0 0.2rem transparent;
                        border-color: $amarillo;
                    }
                }
                .links{
                    a{
                        font-size: 13px;
                        color: #404040;
                        font-family: $roboto;                      
                    }
                }
                .check{
                    display: inline-block;                    
                    text-align: right;
                    &:last-child{
                      padding-right: 0;
                    }
                    .botton{
                      margin-top: 0;
                    }
                    input[type=checkbox].css-checkbox{
                      display: none;
                    }
                    input[type=checkbox].css-checkbox + label.css-label {                      
                      height: 20px;
                      display: inline-block;
                      line-height: 1.25rem;                      
                      font-size: 13px;
                      color: #404040;
                      font-family: $roboto;                      
                      padding-left: 27px;
                      vertical-align: middle;
                      margin-bottom: 10px;
                      cursor: pointer;
                      -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
                      -o-transition: background 300ms ease-in-out, color 300ms ease-in-out;
                      transition: background 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    input[type=checkbox].css-checkbox + label.css-label {
                        background-image: url("../../static/img/iconos/check-desactivado.png");
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: contain;
                     /* &:hover {
                        background-image: url("../img/iconos/checked-activo.png");
                        background-repeat: no-repeat;
                      }*/
                   }
                   input[type=checkbox].css-checkbox:checked + label.css-label {          
                      background-image: url("../../static/img/iconos/check-activado.png");
                      background-repeat: no-repeat;
                      // color: #000; 
                   }
                   label.css-label {
                      -webkit-touch-callout: none;
                      -webkit-user-select: none;
                      -khtml-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;                      
                    }
                  }
            }
        }
    }
}

.opciones{    
    padding: 60px 0px;    
    &__card{
        padding:30px 17px;
        position: relative;
        &--border{
            width: 5px;
            height: 100%;
            position: absolute;
            background-image: url('../../static/img/raya.svg');
            background-size: cover;
            top:0;
            left: 0;
        }
        img{
            width: 83px;
            margin-bottom: 10px;
        }
        h3{ 
            margin-bottom: 2px;                      
            font-size: 20px;
        }
        h4, p{
            font-size: 13px;
            font-family: $roboto;
            line-height: 21px;
        }   
        h4{
            position: relative;
            margin-bottom: 24px;
            &:before{
                content: "";
                width: 53%;
                height: 1px;
                background-color: $cTexto;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -7px;
            }
        }     
    }
}

hr{
    margin: 0;
    background-color: #cccccc;
}

.inicio{
    &__content{
        p{
            width: 88%;
            margin-bottom: 60px;
        }
        .hola{
            font-size: 36px;
            line-height: 54px;
            font-weight: 600;
        }
    }
}



.footer{
    background-color: $negro;    
    &__top{
        padding: 50px 0px;
        &__logo{
            img{                
                width: 176px;
            }
        }
        &__link{
            a{
                color: $amarillo;
                font-family: $yellow;                
                font-size: 24px;
                text-decoration: none;
                display: block;
                padding: 2px 0px;                
            }
            .redes{
                padding: 0;
                li{
                    display: inline-block;                    
                    a{
                        img{
                            width: 60px;
                        }
                    }
                }
            }
            .suscribete{
                width: 75%;
                form{
                    .input-group{
                        input{
                            color: #808080;
                            border:1px solid $amarillo; 
                            border-radius: 0;
                            &::placeholder{
                                color: #808080;
                            }
                        }
                        &-text{
                            background-color: $amarillo;
                            border:1px solid $amarillo;
                            border-top-right-radius: 17px;
                            border-bottom-right-radius: 17px;
                            img{
                                width: 20px;
                            }
                        }
                       
                    }
                }          
            }
            .links{
                a{
                    font-size: 16px;
                    font-family: $roboto;
                    font-weight: 600;
                    color: $blanco;
                    padding: 8px 0px;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__bottom{
        background-color: $amarillo;
        color: $negro;
        padding: 20px;
        text-align: center;
        h6{
            font-family: $roboto;
            font-size: 16px;
            margin: 0;
            font-weight: 600;
        }
    }
}

.pLeft{
    padding-left: 5px;
}

.pRight{
    padding-right: 5px;
}

.nuevo{
    background-image: url('../../static/img/puntos.svg');
    background-size: cover;
    padding: 105px 0px 70px;
    &__top{
        position: relative;
        .boton{
            position: absolute;
            top: 36px;
            margin: auto;
            background-color: $blanco;
            border:2px solid #cccccc;
            border-radius: 10px;
            color: #4fa2d2;
            text-transform: uppercase;
            padding:6px 14px;
            right: 0;
            font-weight: 800;
            font-size: 12px;
            text-decoration: none;
        }
        .raya{
            width: 100%;
            height: 2px;
            background-color:#cccccc;            
        }
    }
    &__card{
        background-color: $plomo;
        padding: 5px;
        padding-bottom: 0;
        border-radius: 8px;
        &__img{
            height: 235px;            
            width: 100%;
            background-size: cover;
            border-radius: 8px;
        }
        &__botones{
            text-align: center;
            padding: 10px 5px;            
            a{
                display: inline-block;
                position: relative;                
                margin: 0px 6px;
                font-family: $roboto;
                color: #404040;                
                text-decoration: none;
                img{
                    position: absolute;                     
                    width: 15px;                   
                    top: 4px;
                    left: 0;
                }
                span{
                    display: inline-block;                    
                    margin-left: 17px;
                    font-size: 13px;
                    color: #404040;
                }
            }
        }
    }
}

.sigue{
    background-image: url('../../static/img/puntos.svg');
    background-size: cover;
    padding: 30px 0px;
}


@media(min-width:768px){   

    .banner{
        &__content{
            &__center{
                width: 80%;
                &__face{
                    width: 60%;
                }
            }
        }
    }

}
@media(min-width:992px){   

    .hamburger{
		display: none;
	}
	.barra-hamburger{
		display: none;
    }
    
    .titulo{
        &--mediano{
            font-size:41px;
        }
    } 
    .header{
        display: block;

    }    
    .modal{
        &-dialog{
            max-width: 585px;
        }
        
    }
    .banner{
        height: 90vh;
        padding: 0;
        &__content{
            height: 90vh;
            &__center{
                width: 64%;  
                &__descrip{
                    .texto{
                        h2{
                            text-align: left;
                            margin-left: 70px;
                            margin-bottom: 40px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 10px;
                        }
                        &__logo{
                            img{
                                left: -24px;
                                top: -8px;
                            }
                        }
                        &__login{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }             
                &__face{
                    width: 55%;
                }
            }
        }
    }

    .footer{
       &__top{
           &__link{
            .redes{
                li{
                    a{
                        img{
                            width: 40px;
                        }
                    }
                }
            }
           }
       }
    }
}

@media(min-width:1200px){  
    .titulo{
        &--mediano{
            font-size:45px;
        }
    } 

}

@media(min-width:1350px){
    .banner{
        &__content{
            &__center{
                width: 60%;
            }
        }
    }

    .opciones{
        &__card{
            padding: 30px 35px;
        }
    }

    .header{
        .buscador{
            width: 80%;
        }
    }


    .nuevo{
        &__card{ 
            &__img{
                height: 288px;
            }
        }
    }
}

@media(min-width:1600px){
    .footer{
        &__top{
            &__link{
                .redes{
                    a{
                        img{
                            width: 60px;
                        }
                    }
                }
            }
        }
    }

    .btn{
        padding: 13px 50px;
        font-size: 20px;
    }

    .nuevo{
        &__top{
            top: 40px;
            padding: 10px 20px;
            font-size: 16px;
        }
        &__card{
            &__botones{
                a{
                    margin: 0px 10px;
                    img{
                        width: 18px;
                    }
                    span{
                        margin-left: 22px;
                    }
                }
            }
        }
    }

    .opciones{
        &__card{
            padding: 30px 42px;            
            img{
                width: 110px; 
            }
            h3{
                font-size: 24px;
            }
            h4, p{
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .titulo{
        &--mediano{
            font-size:56.53px;
        }
    }
    .header{
        padding: 5px 40px; 
        height: 100px;    
        &__left{
            &__link{
                left: 110px;
                ul{
                    li{
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
            &__logo{
                img{
                    width: 100px;
                }
            }
        }
        .input-group{
            input{
                font-size: 16px;
            }
        }
        .buscador{
            width: 70%;
        }
        &__right{
            &__link{
                a{
                    font-size: 16px;
                    padding: 0px 15px;
                }
            }
            .web{
                margin-left: 30px;
                img{
                    width: 40px;
                }
            }
        }
    }
    .nuevo{
        &__card{
            &__img{
                height: 352px;
            }
        }
    }
   
    .banner{
        margin-top: 100px;
        &__content{
            height: 80vh;
            &__center{
                width: 68%;
                &__descrip{
                    padding: 50px 55px;  
                    &:before{
                        height: 12px;
                    }
                    .texto{
                        &__login{
                            a{
                                font-size: 20px;
                            }
                        }
                        h2{
                            font-size: 35px;                            
                            margin-left: 70px;
                            margin-bottom: 80px;
                            span{
                                font-size: 48px;
                            }
                        }
                        p{
                            font-size: 20px;
                            line-height: 27px;
                            margin-bottom: 16px;
                        }
                        &__logo{
                            img{
                                width: 195px;                        
                                left: -27px;
                                top: -21px;
                            }
                        }
                    }
                }
                &__face{
                    width: 50%;
                    font-size: 20px;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    .footer{
        &__top{
            &__logo{
                img{
                    width: 240px;
                }
            }
            &__link{
                a{
                    font-size: 30px;
                    padding: 6px 0px;
                }
            }
        }
    }
    
    
    .container{
        max-width: 1295px;
    }   
    .modal{
        &-dialog{
            max-width: 700px;
        }
        &__login{
            &__body{
                padding: 42px 20px;
                h3{
                    font-size: 32px;  
                }
                form{
                    input{
                        height: 43px;
                        font-size: 16px;
                    }
                    .links{
                        a{
                            font-size: 17px;
                        }
                    }
                    .check{
                        input[type=checkbox].css-checkbox + label.css-label {
                            font-size: 18px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}